$mobileBreakpoint: 425px;
$tabletBreakpoint: 768px;
$desktopBreakpoint: 1024px;
$roboto: 'Roboto', sans-serif;
$poppins: 'Poppins', sans-serif;
$open-sans: 'Open Sans', sans-serif;

html, body {
  margin: 0;
  padding: 0;
}

h1 {
    margin: 0;
    font-family: $poppins;
    font-size: 40px;
}

.container {
    text-align: center;
}

.page {
  padding-top: 80px;
}

.headerContainer {
    width: 100%;
    top: 0;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    overflow: hidden;
    font-family: $poppins;
    position: fixed;
    margin-bottom: 5%;

    h3 {
      font-size: 1.25em;
    }

    @media (min-width: #{$tabletBreakpoint}) {
        background-color: #000000;
    }
}

.trackLinkInHeader {
    position: fixed;
    float: right;
    display: inline-block;
    color: #ffffff;
    right: 36px;
    top: 20px;

    &:hover {
      -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
      -webkit-mask-size: 200%;
      animation: shine 2s infinite;
    }

    @-webkit-keyframes shine {
      from {
        -webkit-mask-position: 150%;
      }

      to {
        -webkit-mask-position: -50%;
      }
    }
}

/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: #373a47;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 20px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #ffffff;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.dontHaveAccount{
  font-size: 12px;
}

.form-section-container {
    margin: 0 auto;
    position: relative;
}

.logInPage{
    font-family: $roboto;

    h1 {
      font-family: $poppins;
      padding: 50px 0 0;
      margin: 0;
    }
}
.SignUpPage{
  font-family: $roboto;

  h1 {
    font-family: $poppins;
    padding: 50px 0 0;
    margin: 0;
  }
}
.SignUpForm{
  text-align: left;
  padding: 5% 40%;
  input {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    font-family: $roboto;
    //padding-left: 10px;
    background-color: #E8E6E6;
  }
}

.profilePage {
  font-family: $roboto;

  h1 {
    font-family: $poppins;
    padding: 50px 0 0;
    margin: 0;
  }
}

.profileDetails{
  text-align: left;
  padding: 5% 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  input {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    font-family: $roboto;
    //padding-left: 10px;
    background-color: #E8E6E6;
  }
}

.profileImg{
  width: 50%;
  text-align: center;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.logInForm {
  text-align: left;
  padding: 5% 40% 0;

  input {
      height: 50px;
      font-size: 18px;
      padding: 10px;
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 50px;
      font-family: $roboto;
      background-color: #E8E6E6;

  }
}

.submitBtn {
  position: relative;
  padding: 0 30%;
}

.submitBtn input{
    height: 40px;
    color: #ffffff;
    font-size: 16px;
    background-color: #000000;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    margin: 20px 0;
    border-radius: 0;
    font-weight: 500;

    &:hover {
        color:#ffffff;
        background-color: #282727;
        cursor: pointer;
    }
}

.trackingPage {

  h1 {
    margin-top: 10%;
    margin-bottom: 5%;
  }
}

.trackingFormContent{
    margin: auto 20%;
    font-family: $roboto;
    height: 50px;

    .inputField {
      width: 80%;
      height: 50px;
      font-size: 18px;
      margin-bottom: 10px;
      padding-left: 20px;
      float: left;
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
      border: 0;
      outline: 0;
    }

    .trackButton{
      font-size: 18px;
      width: 17%;
      float: right;
      height: 50px;
      padding: 0;
      transition: all 200ms ease-in;
      cursor: pointer;
      background-color: #000000;
      color: #FFFFFF;

      &:hover {
          color:#ffffff;
          background-color: #282727;
          cursor: pointer;
      }
    }
}

.listPage {
  margin: auto 20%;
}

.topRow{
    display: inline-block;
    width: 100%;
    padding: 0 20px;

    h1 {
      margin-top: 5%;
      margin-bottom: 5%;
      text-align: left;
      float: left;
    }

    .trackNewItemLink{
        margin: 5% 0;
        padding: 20px 20px;
        float: right;
    }

    a {
      font-family: $roboto;
      color: #000000;
      background: yellow;
      text-decoration: none;

      &:hover{
        text-decoration: underline;
      }
    }
}

.listContainer{
    margin-bottom: 50px;
}

.listItemSection{
    background: white;
    overflow: hidden;
    padding: 20px;
    position: relative;
    width: 100%;

    &:hover{
      background: #eaeaea;
    }

    .thumbnailContainer{
        position: relative;
        width: 100px;
        height: 100px;
        overflow: hidden;
        float: left;
    }

    .thumbnailContainer img {
        position: absolute;
        opacity: 0.5;
        left: 50%;
        top: 50%;
        height: 100%;
        width: auto;
        -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
    }
}

.listItemSection:not(:last-child){
    border-bottom: 1px solid #EEE;
}

.listItemContentContainer{
    width: 80%;
    float: right;
    text-align: left;
    font-family: $roboto;

    h2 {
      margin-top: 0;
    }

    p {
      color: #3b3d3f;
    }
}

.confirmationPage {
  text-align: center;
  width: 100%;

  h1 {
    margin-top: 5%;
    margin-bottom: 5%;
  }
}

.detailPage {
  text-align: center;
  width: 100%;

  h1 {
    margin-top: 5%;
    margin-bottom: 5%;
  }
}

.detailContainer{
  margin: auto 20%;

  .thumbnailContainer{
      position: relative;
      width: 50%;
      height: 200px;
      overflow: hidden;
      float: left;
  }

  .thumbnailContainer img {
      position: absolute;
      left: 50%;
      top: 50%;
      height: 100%;
      width: auto;
      -webkit-transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
              transform: translate(-50%,-50%);
  }

  .detailText{
    width: 50%;
    float: left;
    text-align: left;
    font-family: $roboto;

    h2 {
      margin-top: 0;
    }

    p {
      color: #3b3d3f;
    }
  }
  .newPrice{
    color: #84f986;
  }
  .notes{
    display: block;
    width: 100%;
    height: 100px;
    border: solid 1px;
    text-align: left;
    font-family: $roboto;
    padding: 5px;
    background: #eee;

  }
}


.confirmationContentContainer{
  margin: auto 20%;

  .thumbnailContainer{
      position: relative;
      width: 50%;
      height: 200px;
      overflow: hidden;
      float: left;

  }

  .thumbnailContainer img {
      position: absolute;
      left: 50%;
      top: 50%;
      height: 100%;
      width: auto;
      -webkit-transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
              transform: translate(-50%,-50%);
  }

  .confirmationText{
    width: 50%;
    float: right;
    text-align: left;
    font-family: $roboto;

    h2 {
      margin-top: 0;
    }

    p {
      color: #3b3d3f;
    }
  }
}

.confirmButtonsContainer{
    margin-top: 10%;

    button:last-child{
      background-color: #7a7a7a;
      color: #000000;
      margin-left: 5%;

      &:hover {
          color:#ffffff;
          background-color: #38BA7C;
          cursor: pointer;
      }
    }
}

.confirmButton {
  font-size: 18px;
  width: 30%;
  float: left;
  height: 50px;
  padding: 0;
  transition: all 200ms ease-in;
  cursor: pointer;
  background-color: #000000;
  color: #FFFFFF;

  &:hover {
      color:#ffffff;
      background-color: #282727;
      cursor: pointer;
  }
}


@media (min-width: #{$tabletBreakpoint}) {
    width: 33%;
}

.footer{
  background-color: #000000;
  color: #ffffff;
  font-family: $open-sans;
  text-align: center;
  overflow: hidden;
  font-size: 14px;
}
